<h1>All of our Locations's</h1>
<div class="row">
<% @locations.each do |location| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= location.image %>">
      <div class="caption">
        <h3><%= location.name %></h3>
        <%= link_to "More Info", location, class: "btn btn-default" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Location', new_location_path, class: "btn btn-primary" %>